<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="not-found content">
    <h1>OOPS!</h1>
    <p>This is embarrassing. The blog post you are looking for cannot be found :)</p>
    <hr>
    <p>We are aware of the issue and will attempt to correct it shortly.</p>
    <h3>The Blog Ninjas Admin Team</h3>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>