<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  
  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ea quae culpa perferendis cum consectetur dicta totam minima quis dolor. Obcaecati, officiis distinctio? Eligendi amet optio molestias dolores quo doloremque?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et quia laboriosam possimus porro? Ratione minus ullam a perferendis repellat consequuntur mollitia ut tenetur. Libero eaque cupiditate fugiat deserunt saepe dolorem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, commodi non. Commodi a nisi eveniet nobis enim odit, delectus porro, autem sequi temporibus adipisci tenetur voluptatem incidunt, placeat reprehenderit modi.</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>